h1 {
    color: #2f4f4f;
    margin-bottom: 15px;
    background-color: aqua;
}

#main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 10px;
}

#main-nav li {
    display: inline-block;
}

#main-nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}