h1 {
    color: #2f4f4f;
    margin-bottom: 15px;
    background-color: aqua;
    font-weight: bold; 
}

.padded {
    background-color: #13a4a4;
    font-size: 16px;
    padding: 1em;
}

.title {
    font: 32px Hevetica,  Arial, sans-serif;
}

#main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 10px;
}

#main-nav li {
    display: inline-block;
}

#main-nav a {
    color: white;
    background-color: #13a4a4; /*Teal background color - higher specificity*/
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.featured {
    background-color: orange; /*lower specificity => canot overite of a*/
}

.subject {
    background-color: red;
}

a:link {
    color: blue;
}

.footer {
    color:  #666;
    background-color: #ccc;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;;
}

.footer a {
    color: inherit;
    text-decoration: underline;
}